<?php $this->Html->addCrumb('Inicio', '/'); ?>
<?php $this->Html->addCrumb('Frases', '/Quotes');
$isok=false;
if ($this->Session->check('Auth.User')) 
{
	$issesions = $this->Session->read('Auth.User');
	if (isset($issesions)){$isok=true;}
}
?>

<div class="grid_11" id="contenedor">
	<center><h2><?php echo __('Quotes');?><?php echo $this->Html->link(
	$this->Html->image('icons/mini-rss.png', 
	array('alt'=> __('Suscribe', true), 'border' => '0','align'=>'right','class'=>'mini-img')),
	array ('controller'=>'quotes','action'=>'index.rss'),	 
	array('escape' => false,'target'=>'_blank'));
?></h2><hr /></center></h2><hr /></center>


<?php
	foreach ($quotes as $quote):
?>
<center><table class="tablita izquierda quote">
<tr>
		<td><center>		
			<span class="quote" style="font-size:250%;">
			"<?php echo h($quote['Quote']['qbody']); ?>"
			</span>
		</center>
		
		<p align="right">- <?php echo h($quote['Quote']['author']); ?>
		
			<a style="color:#00ccff;" title="Comenta / Comparte"
			href="quotes/view/<?php echo $quote['Quote']['id'] ?>">
			♥
		</a>
		
		</p>
</td></tr>

<tr><td>
		
		
		<?php if ($isok){ ?>[        
        	<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $quote['Quote']['id'])); ?>
		|	<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $quote['Quote']['id']), null, __('Are you sure you want to delete # %s?', $quote['Quote']['id'])); ?>]<?php }?>
</td>
</tr>
</table></center>
<?php endforeach; ?>	

<center>
<?php echo $this->element('paginator'); ?>
		<table class="tablita completa">
		<tr><td>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-3028399397570881";
		/* blog - guzman6001 */
		google_ad_slot = "4993405013";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		</td></tr></table>
</center>

</div>