﻿<?php 

$isok=false;
if ($this->Session->check('Auth.User')) 
{
	$issesions = $this->Session->read('Auth.User');
	if (isset($issesions)){$isok=true;}
}
if ((AuthComponent::user('id') == $link['Nota']['user_id']) || ($link['Nota']['visibility_id']==1))
{
?>

<section id="content" class="wide-content">
		
    	<div class="grid_8">
		<div class="cuadro_blanco"><div>
			<center><h3><?php echo h($link['Nota']['title']); ?></h3>
			<h6>(Por: <a href="/usuario/perfil/<?php echo h($link['User']['username']); ?>"><?php echo h($link['User']['name']); ?> <?php echo h($link['User']['lastname']); ?></a>)</h6></center><hr />
			<?php echo ($link['Nota']['description']); ?>
		</div></div>
		
		
		
		</div>
		<div class="grid_4">
		<div id="accordian">
			<ul>
				<?php 
				if(empty($notacategories))
				{echo"<li><h3>No se han guardado categorias todavía</h3></li>";}
				else
				{ 
				
					foreach ($notacategories as $category): 
					if (!empty($category['Nota']))
					{
						foreach ($category['Nota'] as $nota => &$nose):
							if ($nose['visibility_id']!=1)
							{
								unset($category['Nota'][$nota]);
							}
						endforeach;
					}
					if (!empty($category['Nota']))
					{					?>
					<li>
					<h3><?php echo ($category['Category']['name']); ?></h3>
					<ul>
						<?php 
						
						foreach ($category['Nota'] as $nota): 
						
						?>
						<li>
						<a title="<?php echo $nota['title'] ?>"
						href="/notas/ver/<?php echo $nota['id'] ?>/<?php echo ($nota['slug']); ?>">
							<?php echo $nota['title'] ?>
						</a>
						</li>			
						
						<?php endforeach; ?>
						
					</ul>
					</li>
					<?php 
					}endforeach; ?>	
				<?php 
				} ?>
			</ul>
			</div>
			<div class="cuadro_blanco"><div><center><h3>Compartir</h3><hr />
			<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span><br />
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span><br />
<span class='st_email_large' displayText='Email'></span>
<span class='st_sharethis_large' displayText='ShareThis'></span>
			</center></div></div>
		</div>
</section>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2235a49b-b069-45c0-a292-e094270cdd24", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<?php }else{ echo '<div style="width:100%;text-align:center;padding-top: 45px; padding-left: 40px; ">No se puede mostrar la página</div>';}
