<table class="tablita" id="publicidad">
	<tr><td>
	
	<script type="text/javascript"><!--
	/*
            $(function() {
            var offset = $("#publicidad").offset();
            var topPadding = 0;
            $(window).scroll(function() {
                if ($("#publicidad").height() < $(window).height() && $(window).scrollTop() > offset.top) 
				{
                    $("#publicidad").stop().animate({
                        marginTop: $(window).scrollTop() - offset.top + topPadding
                    });
                } else {
                    $("#publicidad").stop().animate({
                        marginTop: 0
                    });
                };
            });
        });*/
	//-->
	</script>
	
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-3028399397570881";
	/* comics - guzman6001 */
	google_ad_slot = "4406195617";
	google_ad_width = 120;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
	
	</td></tr>
</table>	