/* background slide transition */
.social ul li a, .socialfooter ul li a{
	transition:background .3s;
	-moz-transition:background .3s; /* Firefox 4 */
	-webkit-transition:background .3s; /* Safari and Chrome */
	-o-transition:background .3s; /* Opera */
}

/* font color transition */
#logo a, #navi ul li a, #navi ul li a:visited{
	transition:color .3s;
	-moz-transition:color .3s; /* Firefox 4 */
	-webkit-transition:color .3s; /* Safari and Chrome */
	-o-transition:color .3s; /* Opera */
}

/* text shadow transition */
#navi ul li a, #navi ul li a:visited{
	transition:text-shadow .3s;
	-moz-transition:text-shadow .3s; /* Firefox 4 */
	-webkit-transition:text-shadow .3s; /* Safari and Chrome */
	-o-transition:text-shadow .3s; /* Opera */
}

/* background color */
#logo a, button.commentbutton
{
   -webkit-transition: background-color .3s ease-in;
   -moz-transition: background-color .3s ease-in;
   -o-transition: background-color .3s ease-in;
   transition: background-color .3s ease-in;
}

/* width */
#logo, #navi, #conteactinfo, .split2{
   -webkit-transition: width .3s ease-in;
   -moz-transition: width .3s ease-in;
   -o-transition: width .3s ease-in;
   transition: width .3s ease-in;
}

/* margins , padding*/
#logo, .social, #navi, #navi ul, #navi ul li, #navi ul li ul, #conteactinfo, .socialfooter ul{
   -webkit-transition: margin-left .3s ease-in;
   -moz-transition: margin-left .3s ease-in;
   -o-transition: margin-left .3s ease-in;
   transition: margin-left .3s ease-in;
   -webkit-transition: margin-right .3s ease-in;
   -moz-transition: margin-right .3s ease-in;
   -o-transition: margin-right .3s ease-in;
   transition: margin-right .3s ease-in;
   -webkit-transition: padding .3s ease-in;
   -moz-transition: padding .3s ease-in;
   -o-transition: padding .3s ease-in;
   transition: padding .3s ease-in;
}


/* opacity */
.portfoliowrap, .blogimage, .blogwcommentwrap{
   -webkit-transition: opacity .3s ease-in;
   -moz-transition: opacity .3s ease-in;
   -o-transition: opacity .3s ease-in;
   transition: opacity .3s ease-in;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}