#latest-tweets{
	width:30%;
	float:left;
	padding-right:3%;
	border-right:1px solid #cfcdcd;
	margin-top:20px;
}

#twittertitle{
	width:85%;
	float:left;
	padding: 2% 0% 4% 15%;
	background-image: url(/img/rdv1/large-twitter.png);
	background-repeat: no-repeat;
	background-position: left 10px;
	text-align:left;
	font-family: 'BebasNeueRegular',Arial, Helvetica, sans-serif;
	color:#cbcbcb;
	font-size:20pt;
	border-bottom:1px solid #cfcdcd;
}

#twitterbody{
	width:100%;
	float:left;
}

.tweet,
.query {
	font: 120% Georgia, serif;
	color: #085258;
}

.tweet_list {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
	
.tweet_list .awesome,
.tweet_list .epic {
	text-transform: uppercase;
}

.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: none;
	border-top:1px solid white;
	border-bottom:1px solid #cfcdcd;
	font-family: 'HelveticaLTStdRoman',Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-decoration:none;
	font-size:10pt;
	color:#7e7e7e;
}

.tweet_list li:first-child{
	padding-top:20px !important;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: none;
	list-style-type: none;
	border-top:1px solid white;
	border-bottom:1px solid #cfcdcd;
}

.tweet_list li:last-child{
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: none;
	border-top:0px;
	border-bottom:0px;
}
		
.tweet_list li a {
	color: #38b2fe;
	text-decoration:none;
}

.tweet_list li a:hover {
	color: #38b2fe;
	text-decoration:underline;
}

.tweet_list .tweet_avatar {
	padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
	vertical-align: middle;
}