<?php $this->Html->addCrumb('Administración','/sitio/administracion'); ?>
﻿<div  class="grid_11">
<center><h2>Administración del Sistema</h2>

<table class="tablita">
<tr>
	<th>Opciones de administración</th>
</tr>
<tr>
	<td>
		<?php echo $this->Html->link(' · Administrar Usuarios', array('controller'=>'users','action'=>'index')); ?>
	</td>
</tr>
<tr>
	<td>
		<?php echo $this->Html->link(' · Administrar Enlaces', array('controller'=>'links','action'=>'show')); ?>
	</td>
</tr>

</table>
<center>
</div>
