<?php 	$this->Html->addCrumb('Inicio','/'); 
		$this->Html->addCrumb('Buscar','/sitio/buscar'); 
		echo $this->Html->css('google'); ?>

﻿<div  class="grid_11">
<center><h2>Buscar en el Sitio</h2>

<center><table class="tablita">
<tr>
	<td>
		<div id="cse" style="width: 100%;">
			<center><img src="/img/loading.gif" /></center>
		</div>
			<script src="http://www.google.com/jsapi" type="text/javascript"></script>
			<script type="text/javascript"> 
			  google.load('search', '1', {language : 'es', style : google.loader.themes.MINIMALIST});
			  google.setOnLoadCallback(function() {
				var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
				  '004255786989386544179:bqutrewah2k', customSearchOptions);
				customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
				customSearchControl.draw('cse');
			  }, true);
			</script>

	</td>
</tr>

</table>
</center>
</div>
