<?php $this->Html->addCrumb('Inicio','/'); ?>
﻿<div  class="grid_11">
<center><h2>Página en Construcción</h2>

<center><table class="tablita">
<tr>
	<td>
<?php echo $this->Html->image('construccion.jpg', array('width' => '100%','alt' =>'Página en construcción... Pronto estará disponible (o eso espero).', 'title' => 'Página en construcción'));
?>

	</td>
</tr>

</table>
</center>
</div>
