<?php $this->Html->addCrumb('Inicio','/'); ?>
<?php $this->Html->addCrumb('Inicio','/sitio/eventos'); ?>
<div  class="grid_11">
<center><h2>Eventos Culturales</h2>

	<table class="tablita">
<tr>
	<td>
		<center><iframe src="https://www.google.com/calendar/embed?src=c052mec9c3jeo1ogg9j5q33kh8%40group.calendar.google.com&ctz=America/Caracas" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</center>
	</td>
</tr>
	</table>
	
<?php echo $this->element('social'); ?>
	
</center>
</div>
