<?php 

$isok=false;
if ($this->Session->check('Auth.User')) 
{
	$issesions = $this->Session->read('Auth.User');
	if (isset($issesions)){$isok=true;}
}
if ((AuthComponent::user('id') == $link['Enlace']['user_id']) || ($link['Enlace']['visibility_id']==1))
{
?>
<iframe 
	src="<?php echo h($link['Enlace']['url']); ?>" 
	frameborder="0" 
	style="padding-top: 45px; padding-left: 40px; overflow:scroll;z-index:10000;height:100%;min-height:800px;width:100%" 
	height="100%" 
	width="100%">
</iframe>
<?php }else{ echo '<div style="width:100%;text-align:center;padding-top: 45px; padding-left: 40px; ">No se puede mostrar la página</div>';}
