/**********************************************/
/************ Navigation Section **************/
/**********************************************/

#navigation{
	background-color:white;
	width:100%;
	float:left;
	box-shadow:0px 1px 5px #d0cfcf;
}

#navigation_wrap{
	max-width:1000px;
	float:none;
	margin:0px auto 0px auto;
}

#navi select{
	display:none;
	padding:4px 8px;
	border: 1px dotted #CCC;
	margin:3px 0px 5px 0px;
	width:200px;
	font-family: 'HelveticaLTStdRoman',Arial, Helvetica, sans-serif;
	color: #807f7f;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
}

#navi{
	width:620px;
	float:right;
}

#navi ul{
	width:auto;
	float:right;
	padding:0px;
	margin:0px;
}

#navi ul li{
	float:left;
	display:inline-block;
	padding:12px 12px 13px 12px;
	list-style-type: none;
	position:relative;
	border-right: 1px dotted #CCC;
}

#navi ul li:first-child{
	float:left;
	display:inline-block;
	padding:12px 12px 13px 12px;
	list-style-type: none;
	position:relative;
	border-right: 1px dotted #CCC;
	border-left: 1px dotted #CCC;
}

#navi ul li a, #navi ul li a:visited{
	font-family: 'HelveticaLTStdRoman',Arial, Helvetica, sans-serif;
	color: #807f7f;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
}

#navi ul li a:hover{
	font-family: 'HelveticaLTStdRoman',Arial, Helvetica, sans-serif;
	color: #da600a;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
	text-shadow: 1px 1px 2px #999;
}

#navi ul li ul{
	width:auto;
	position:absolute;
	display: none;
	z-index: 2000;
	padding-top:13px;
	margin-left:-13px;
	background-color:white;
}

#navi ul li ul li{
	padding: 6px 0px 6px 14px !important;
	position:relative;
	border-right: 1px solid #d5d5d5 !important;
	border-bottom: 1px solid #d5d5d5 !important;
	border-left: 1px solid #d5d5d5 !important;
	width:120px;
}

#navi ul li ul li ul{
	width:auto;
	position:absolute;
	display: none;
	z-index: 2000;
	left: 100% !important;
	top: -1px !important;
	padding:0px !important;
	margin:0px !important;
}

#navi ul li ul li ul li:first-child{
	padding: 6px 25px 6px 14px !important;
	position:relative;
	border-right: 1px solid #d5d5d5 !important;
	border-top: 1px solid #d5d5d5 !important;
	border-bottom: 1px solid #d5d5d5 !important;
	background-color:white;
	margin-top:0px;
}

#navi ul li ul li ul li{
	padding: 6px 25px 6px 14px !important;
	position:relative;
	border-right: 1px solid #d5d5d5 !important;
	border-top: 1px solid #d5d5d5 !important;
	border-bottom: 1px solid #d5d5d5 !important;
	background-color:white;
	margin-top:-1px;
}

#conteactinfo{
	width:380px;
	float:left;
	font-family: 'HelveticaLTStdRoman',Arial, Helvetica, sans-serif;
	color: #807f7f;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
	padding-top:14px;
}