<?php $this->Html->addCrumb('Inicio', '/'); ?>
<?php $this->Html->addCrumb('Videos', '/videos'); ?>

<div class="grid_11"><center>
<h2><?php echo ($video['Video']['title']) ;?></h2><hr />
<table class="tablita completa"><tr><td>
<?php echo '<iframe width="800" height="437" src="http://www.youtube.com/embed/'
		.$video['Video']['code']
		.'" frameborder="0" allowfullscreen>
		</iframe>'; ?>
</td></tr>
<tr><td>
<?php echo $video['Video']['description']; ?>
</td></tr>
<tr><td>
 <?php echo $this->element('social'); ?>
</td></tr>
</table>
</center></div>