﻿<?php $this->Html->addCrumb('Inicio', '/'); ?>
<?php $this->Html->addCrumb('Nanoblog', '/microposts');
$isok=false;
if ($this->Session->check('Auth.User')) 
{
	$issesions = $this->Session->read('Auth.User');
	if (isset($issesions)){$isok=true;}
}
?>

<div class="grid_11">
	<center><h2><?php echo __('Nanoblog');?><?php echo $this->Html->link(
	$this->Html->image('icons/mini-rss.png', 
	array('alt'=> __('Suscribe', true), 'border' => '0','align'=>'right','class'=>'mini-img')),
	array ('controller'=>'microposts','action'=>'index.rss'),	 
	array('escape' => false,'target'=>'_blank'));
?></h2><hr /></center></h2><hr /></center>
<?php if ($isok)
{ ?><div class="formulario">

<?php echo $this->Form->create('Micropost', array('action' => 'add'));?>
	<fieldset>
		<legend><?php echo __('Add Micropost'); ?></legend>
	<?php
		echo $this->Form->input('title');
		echo $this->Form->input('mpbody');
		echo $this->Form->input('rss');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>
<?php } ?>
<?php 
	$i=0;
	foreach ($microposts as $micropost):
	$style = null;
	$completa=null;
	if ($i==0)
	{
		$completa=' completa';
	}
	else
	{
		$completa = ' izquierda';
	}


	if ($i++ % 2 == 0) 
	{
		$style = ' style=" vertical-align: middle; height:80px; background:#dbf2ff; font-size:109%;"';//Azulito
		
	}
	else if ($i++ % 3 == 0)
	{
		$style = ' style=" vertical-align: middle; height:80px; background:#ebffc9; font-size:101%;"'; //verdecito
	}
	else if ($i++ % 5 == 0)
	{
		$style = ' style=" vertical-align: middle; height:80px; background:#eeeeee; font-size:103%;"'; //Gris 
	}
	else
	{
		$style = ' style=" vertical-align: middle; height:80px; background:#fafada; font-size:105%;"'; // Amarillito
	}
 ?>

<center><table border='0' class="tablita<?php echo $completa; ?>">

	<tr>
		<td <?php echo $style; ?>><center><?php echo h($micropost['Micropost']['mpbody']); ?>&nbsp;
		
		<a style="color:#00ccff;" title="Comenta / Comparte"
		href="microposts/view/<?php echo $micropost['Micropost']['id'] ?>">
			♥
		</a>
		
		
		
		<?php if ($isok){ ?>[        
        	<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $micropost['Micropost']['id'])); ?> |
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $micropost['Micropost']['id']), null, __('Are you sure you want to delete # %s?', $micropost['Micropost']['id'])); ?> ]<?php }?></center></td>
</tr>
</table></center>
<?php endforeach; ?>


	
<?php if ($isok)
{ ?><div class="formulario">

<?php echo $this->Form->create('Micropost', array('action' => 'add'));?>
	<fieldset>
		<legend><?php echo __('Add Micropost'); ?></legend>
	<?php
		echo $this->Form->input('title');
		echo $this->Form->input('mpbody');
		echo $this->Form->input('rss');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>
<?php } ?>

<center>
<?php echo $this->element('paginator'); ?>
		<table class="tablita completa">
		<tr><td>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-3028399397570881";
		/* blog - guzman6001 */
		google_ad_slot = "4993405013";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		</td></tr></table>
</center>

</div>


