﻿<?php $this->Html->addCrumb('Inicio', '/sitio'); ?>
<?php $this->Html->addCrumb('Música Libre', '/songs'); ?>

<div class="grid_3">&nbsp;</div>

<div class="grid_5">
<div class="formulario">
<?php echo $this->Form->create('Song');?>
	<fieldset>
		<legend><?php echo __('Add Song'); ?></legend>
	<?php
	
		echo $this->Form->input('title');
		echo $this->Form->input('slug');
		echo $this->Form->input('artist');
		echo $this->Form->input('rating');
		echo $this->Form->input('file');
		echo $this->Form->input('playlist');
		echo $this->Form->input('playlistslug');
		echo $this->Form->input('rss');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit'));?>
</div>
</div>

<div class="grid_3">&nbsp;</div>
