@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/* FUENTES */
#home
{
	
}

#tope {
position:fixed;
vertical-align:middle;
color: black;
background-color: #fff;
opacity:0.5;
filter:alpha(opacity=50);
left:0px;
top:0px;
width:100%;
min-height:100%;
height:100%;
z-index:10000;
visibility:visible;
text-align : center;
font-size:250%;
}
.volver
{
position:fixed;
background-color: #fff;
left:0px;
top:0px;
width:100%;
visibility:visible;
text-align : center;
}
.contenido{
	background:#f6f6f6;
}
#logo
{
	clear:both;
	margin-bottom:0px;
	display:block;
	position:relative;
	z-index:10;
	
	
}
#logo a, #logo a:visited  
{ 
	color:			#fff;
	background:#0099ff;
	display:block;
	margin:0px 0; 
	padding:5px 50px;
	text-decoration:none;
	letter-spacing:2px;
	height:45px;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	line-height: 1.4em;
	font-weight: bold;
	
	box-shadow:1px 1px 1px #333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#logo a:hover{
	background:#86B691; /*VERDE*/
	color:#fff;
}

.clear { clear: both; } 
/* FORMULARIO */ 
.formulario
{
	padding-top: 10px;
}
.formulario form {
	clear: both;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	width: 95%;
}
.formulario fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
	/* Propiedad del Cuadro */
	/* background:#bbb;  AZUL: C4DCFF*/
	/** Mejoras CCS 3 **/
	box-shadow:3px 3px 5px #333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	/*GRADIENTE*/
background: rgb(224,243,250); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%, rgba(184,226,246,1) 61%, rgba(144,206,249,1) 78%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,243,250,1)), color-stop(61%,rgba(184,226,246,1)), color-stop(78%,rgba(144,206,249,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#90cef9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.formulario fieldset legend {
	color:#fff; /*AZUL ELECTRICO: C3FFF9 background:#618AC6; */
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;
	/* Del Cuadro */
	
	/** Mejoras CCS 3 **/
	box-shadow:1px 1px 1px #333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	
	background: rgb(79,133,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(79,133,187,1) 0%, rgba(0,80,130,1) 50%, rgba(79,133,187,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,133,187,1)), color-stop(50%,rgba(0,80,130,1)), color-stop(99%,rgba(79,133,187,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */
}
.formulario fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
.formulario fieldset fieldset legend {
	font-weight: normal;
}
.formulario fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
.formulario form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
.formulario form .input {
	color: #444;
}
.formulario form .required {
	font-weight: bold;
}
.formulario form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
.formulario form div.submit {
	border: 0;
	clear: both;
	margin-top: 5px;
}
.formulario label {
	display: block;
	margin-bottom:3px;
}
.formulario input, textarea {
	clear: both;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
	/* height: 300px; */
}
.formulario select {
	clear: both;
	font-size: 95%;
	vertical-align: text-bottom;
}
.formulario select[multiple=multiple] {
	width: 100%;
}
.formulario option {
	font-size: 120%;
	padding: 0 3px;
}
.formulario input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
.formulario div.checkbox label {
	display: inline;
}
.formulario input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.formulario .radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
.formulario input[type=submit] {
	display: inline;
	width: 100%;
}
.formulario form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
.formulario form .submit input[type=submit]:hover {
	background: #5BA150;
}
/* Form errors */
.formulario form .error {
	background: #FFDACC;
	-moz-order-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
.formulario form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
.formulario form .error,
.formulario form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
/** FIN Formulario **/
/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	/* margin: 0 0 1em 0; */
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* margin-bottom: 18px; */
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	/* -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; */
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	/* margin: 1em 0; */
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	/* margin: 1em 0; */
}
.success {
	color: #fff;
}
/** FIN Notices and Errors **/

/* MENU LISTA */
/*custom font for text*/

/*Basic reset*/
#accordian {
	background: #ccc;
	margin-top: 10px;
	/* AZUL CLARITO: C4DCFF */
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	width: 95%; /*250px*/
	box-shadow:3px 3px 5px #333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	/* margin: 100px auto 0 auto; */
	color: black;
}
#accordian ul
{
	padding-top: 	20px;
	padding-right: 	20px;
	padding-bottom: 20px;
	padding-left: 	20px;
}
/*heading styles*/
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0px 10px;
	margin: 0px;
	/*padding-right:10px;*/
	cursor: pointer;
	color: white;
	font-weight: bold;
	/*fallback for browsers not supporting gradients*/
	/* background: #0099ff; 
	 background: linear-gradient(#0099ff, #C4DCFF); */
background: rgb(79,133,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(79,133,187,1) 0%, rgba(0,80,130,1) 50%, rgba(79,133,187,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,133,187,1)), color-stop(50%,rgba(0,80,130,1)), color-stop(99%,rgba(79,133,187,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(79,133,187,1) 0%,rgba(0,80,130,1) 50%,rgba(79,133,187,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */

}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: black;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {

	border-left: 5px solid lightgreen;	
	color:#C3FFF9;
	background:#618AC6;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	padding-top: 	0px;
	padding-right: 	0px;
	padding-bottom: 0px;
	padding-left: 	0px;
	display: none;
}
#accordian li.active ul {
	display: block;
}
/* MENU LISTA */
/* DIV OCULTO */
.enlace_seleccionado {
	margin-top: 10px;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	width: 95%;
	/* AZUL CLARITO: C4DCFF */
	box-shadow:3px 3px 5px #333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	/* margin: 100px auto 0 auto; */
	color: black;
	/*GRADIENTE*/
background: rgb(224,243,250); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%, rgba(184,226,246,1) 61%, rgba(144,206,249,1) 78%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(224,243,250,1)), color-stop(61%,rgba(184,226,246,1)), color-stop(78%,rgba(144,206,249,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(224,243,250,1) 0%,rgba(184,226,246,1) 61%,rgba(144,206,249,1) 78%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#90cef9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.cuadro_blanco {
	background: #fff;
	/* margin-top: 10px;
	AZUL CLARITO: C4DCFF */
	/*margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	width: 95%;*/
	margin:5px;
	box-shadow:3px 3px 5px #333;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	/* margin: 100px auto 0 auto; */
	color: black;
}
.cuadro_blanco h3
{
	text-align: center;
}
.cuadro_blanco div
{
padding:10px;
}
/*heading styles*/
/* DIV OCULTO */

/*BOTON*/

.button_verde{
border:1px solid #34740e !important;  -webkit-border-radius: 3px !important;  -moz-border-radius: 3px !important; border-radius: 3px !important; font-size:12px !important; font-family:arial, helvetica, sans-serif !important;  padding: 0px 30px 0px 30px !important;  text-decoration:none !important;  display:inline-block !important; text-shadow: -1px -1px 0 rgba(0,0,0,0.3) !important; font-weight:bold !important;  color: #FFFFFF !important; 
 background-color: #4ba614 !important;  background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00)) !important; 
 background-image: -webkit-linear-gradient(top, #4ba614, #008c00) !important; 
 background-image: -moz-linear-gradient(top, #4ba614, #008c00) !important; 
 background-image: -ms-linear-gradient(top, #4ba614, #008c00) !important; 
 background-image: -o-linear-gradient(top, #4ba614, #008c00) !important; 
 background-image: linear-gradient(to bottom, #4ba614, #008c00) !important; filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00) !important; 
}

.button_verde:hover{
 border:1px solid #224b09 !important; 
 background-color: #36780f !important;  background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900)) !important; 
 background-image: -webkit-linear-gradient(top, #36780f, #005900) !important; 
 background-image: -moz-linear-gradient(top, #36780f, #005900) !important; 
 background-image: -ms-linear-gradient(top, #36780f, #005900) !important; 
 background-image: -o-linear-gradient(top, #36780f, #005900) !important; 
 background-image: linear-gradient(to bottom, #36780f, #005900) !important; filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900) !important; 
}

.button_rojo{
border:1px solid #72021c !important;  -webkit-border-radius: 3px !important;  -moz-border-radius: 3px !important; border-radius: 3px !important; font-size:12px !important; font-family:arial, helvetica, sans-serif !important;  padding: 0px 30px 0px 30px !important;  text-decoration:none !important;  display:inline-block !important; text-shadow: -1px -1px 0 rgba(0,0,0,0.3) !important; font-weight:bold !important;  color: #FFFFFF !important; 
 background-color: #a90329 !important;  background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019)) !important; 
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019) !important; 
 background-image: -moz-linear-gradient(top, #a90329, #6d0019) !important; 
 background-image: -ms-linear-gradient(top, #a90329, #6d0019) !important; 
 background-image: -o-linear-gradient(top, #a90329, #6d0019) !important; 
 background-image: linear-gradient(to bottom, #a90329, #6d0019) !important; filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019) !important; 
}

.button_rojo:hover{
 border:1px solid #450111 !important; 
 background-color: #77021d !important;  background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d)) !important; 
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d) !important; 
 background-image: -moz-linear-gradient(top, #77021d, #3a000d) !important; 
 background-image: -ms-linear-gradient(top, #77021d, #3a000d) !important; 
 background-image: -o-linear-gradient(top, #77021d, #3a000d) !important; 
 background-image: linear-gradient(to bottom, #77021d, #3a000d) !important; filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d) !important; 
}
/*BOTON*/

/* VIDEO*/
/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor{
	height:0px;
	width:100%;
	padding-top:56.25%; /* Relación: 16/9 = 56.25% */
	position:relative;
}
/* El iframe se adapta al tamaño del contenedor */
.contenedor iframe{
	position:absolute;
	height:100%;
	width:100% !important;
	top:0px;
	left:0px;
}
/* VIDEO */
.efecto_fino
{

}
.opcion_menu a img
{
	float:right;
	background: url(/img/icons/logonormal_100.png) repeat;
}
.logo_menu a img 
{
	float:left;
}
.opcion_menu:hover a img
{
	background: url(/img/icons/logohover_100.png) repeat;
}