<?php $this->Html->addCrumb('Inicio','/sitio'); ?>

<div class="grid_11">
<center>
<h2>Cosas Random de la Vida</h2><hr />
<br /><br /><br />

<p><a href="/random/michel2012">Regalo de Cumpleaños Michel Romero 2012</a></p>

</center>
</div>
