<?php $this->Html->addCrumb('Inicio','/sitio'); ?>

<div class="grid_11" bgcolor="#000000">
<center>
<h2>Regalo de Cumpleaños Michel Romero 2012</h2><hr />
<br /><br /><br />
<div id="tigresa" style="display:none;">
	<img src="/img/random/tigresa.jpg" />
</div>

<img id="regalo"
	alt="Haga clic aquí para mostrar regalo." 
	onclick='$("#tigresa").toggle(3000); $("#regalo").toggle(300);' 
	src="/img/random/regalo.jpg" />
<br /><br /><br /><br /><br />
<?php echo $this->element('social'); ?>
</center> 

</div>