<div class="grid_2">&nbsp;</div>
<div class="grid_8">

<div class="formulario">
<?php echo $this->Form->create('User');?>
<fieldset>	
	<legend><?php echo __('Acceder al Sistema'); ?></legend>
	<?php
		echo $this->Form->input('username');
		echo $this->Form->input('password');
	?>
</fieldset>
<?php echo $this->Form->end(__('Acceder'));?>
</div>

</div>
<div class="grid_2">&nbsp;</div>
